{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "praser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ]
}